*.DS_Store

*.aux        
*.pdf        
*.bcf        
*.bbl
*.blg
*.run.xml    
*.toc
*.log        
*.synctex.gz
*.out        
*.tdo

*.dat
*.out
*out
*.log

*.auctex-auto/
**/__pycache__/
*.lprof
**/build/
**/*.mov


03_compgpu/exercise1/*.c
03_compgpu/exercise1/*.so
**/*.so

10_project_rishi_paul/code/*.png
10_project_rishi_paul/code/cython/*.html
10_project_rishi_paul/code/cython/finite*.c
