*.DS_Store

*.aux        
*.pdf        
*.bcf        
*.bbl
*.blg
*.run.xml    
*.toc
*.log        
*.synctex.gz
*.out        
*.tdo

*.dat
*.out
*out
*.log

*.auctex-auto/
**/__pycache__/
*.lprof
**/build/

03_compgpu/exercise1/*.c
03_compgpu/exercise1/*.so
